<div *ngIf="type == 'string'" class="row">
    <div class="col-4">
        {{label}}:
    </div>
    <div *ngIf="!editing" class="col-8" role="button" (click)="editing = true">
        {{value}}
    </div>
    <input *ngIf="editing" class="col-8" [(ngModel)]="tempValue">
    <div class="col-4"></div>
    <button *ngIf="editing" class="col-4 btn btn-primary" type="submit" (click)="update()">Save</button>
    <button *ngIf="editing" class="col-4 btn btn-primary" type="submit" (click)="editing = false">Cancel</button>
</div>

<div *ngIf="type == 'check'" class="row">
    <div class="col-4 addressValEdit">
        delivery:
    </div>
    <div class="col-6">
        <div class="form-check">
            <input class="form-check-input big-checkbox" type="checkbox" value="" id="flexCheckDefault" [checked]="value" (click)="toggleValue()">
            <label class="form-check-label" for="flexCheckDefault">
            </label>
        </div>

    </div>
</div>