.sizing {
    width: min(500px, 80vw);
    /* height: 500px; */
    /* overflow-x: hidden; */
}

.bi-x {
    color: red;
}

.bi-check {
    color: green;
}
.inline-block{
    display: inline-block;
}

.row {
    width: 100%;
}

h2 {
    font-size: 20px;
}


.dialog-title {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.dropdown {
    display: inline-block;
    margin-left: 20%;
}