<div class="bg-white sizing container p-4">

    <div class="dialog-title">
        <h1>Address Data</h1>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                More
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">



                <li (click)="deleteClicked()" role="button">Delete</li>
            </ul>
        </div>
    </div>


    <!-- doesn't work :( -->
    <!-- <div *ngFor="let field of valEditComponentLabels">
        <app-address-val-edit [value]="data[field]" [label]="field" [id]="this.data._id" (edit)="data[field] = ($event)"></app-address-val-edit>
    </div> -->



    <div class="addressValEdit ul">
        <app-address-val-edit [value]="data.name" [label]="'name'" [id]="this.data._id" (edit)="data.name = ($event)"></app-address-val-edit>
    </div>
    <div class="addressValEdit ul">
        <app-address-val-edit [value]="data.address" [label]="'address'" [id]="this.data._id" (edit)="data.address = ($event)"></app-address-val-edit>
    </div>
    <div class="addressValEdit ul">
        <app-address-val-edit [value]="data.phone" [label]="'phone'" [id]="this.data._id" (edit)="data.phone = ($event)"></app-address-val-edit>
    </div>
    <div class="addressValEdit ul">
        <app-address-val-edit [value]="data.notes" [label]="'notes'" [id]="this.data._id" (edit)="data.notes = ($event)"></app-address-val-edit>
    </div>

    <div class="row">
        <div class="col-4 addressValEdit">
            delivery:
        </div>
        <div class="col-6">
            <div class="form-check">
                <input class="form-check-input big-checkbox" type="checkbox" value="" id="flexCheckDefault" [checked]="data.delivery" (click)="toggleDelivery()">
                <label class="form-check-label" for="flexCheckDefault">
                </label>
            </div>

        </div>
    </div>
</div>